body{
    background-color: lightgrey;
    position: absolute;
    touch-action: none;
}


nav{
    border: 3px solid darkgreen;

    background-color: #0a630a;
    color: white;
    height: 75px;
    padding: 5px;
    margin: 0px;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    z-index: 1;
}


ul{
    text-decoration: none;
    vertical-align: middle;
    margin-left: 130px;
}

nav ul li{
    display: inline-block;
    width: 367px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    margin-left: 60px;

    position: relative;
    
    
}


nav a{
    text-decoration: none;
    align-self: center;
    display: block;
    margin: 0px;
    font-weight: bold;
    font-variant: small-caps;
    height: 30px;
    position: absolute;
}

nav a img{
    float: left;
    width: 75px;
    height: 75px;

}


nav a:link, nav a:visited{
    color: white;
}
nav ul li a:hover{
    font-size: 130%;
    left: -5px;

}

nav a img:hover{
    height: 270%;
    width: 35%;
}



body main  {

    position: relative;
    top: 90px;
    background: url(../images/footballAside.png) repeat-y scroll left top, url(../images/footballAside.png) repeat-y scroll right top;
    background-size: 180px 200px;
    height: 110%;
    width: 100%;
    clear: both;
}


body main div{
    
    margin-top: 30px;
    width: 100%;
}

body main div a:visited{
    color: antiquewhite;
}
main div a:link{
    color: lightslategrey;
}

body main div article{
    height: 100%;
    width: 40%;
    margin-left: 210px;
    border: 3px solid black;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px ;
    background: #0a630a;
    color: white;
}
h2{ 
    font-variant: small-caps;
    font-size:30px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

body main div article ul li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

body main div aside{
    float:right;
    margin-right: 210px;
    margin-top: -580px;
    background-color: #0a630a;
    color: white;
    border: 3px solid black;
    border-radius: 6px;
    width: 26%;
    height: 530px;
    padding: 10px;
    text-align: center;
    vertical-align:middle;
}

body footer {
    background-color: #0a630a;
    margin: 0px;
    padding: 5px;
    border: 3px solid darkgreen ;
    border-radius: 6px;
    top: 90px;
    position: relative;
    color: white;
    
}

body footer div{
    clear: both;
    float:right;
    display: inline;
    margin-top: -80px;
    align-items: center;
}

.fbLogo{

    width: 6.5%;
    height: 6.5%;
    float: right;

}
.igLogo{
    width: 5.5%;
    height: 5.5%;
    float: right;
}
.emailLogo{

    width: 5%;
    height: 5%;
    float: right;
    margin-right: 16px;
    margin-top: 5px;
}


.teamDiv{
    background-image: url(../images/footbalFeild.png);
    background-repeat: no-repeat;
    background-size: 500px 600px;
    position: relative;
    margin-left: 500px;  
    width: 500px;
    height: 600px;
    z-index: 0;
    margin-bottom: 10px;
}

.jersy{
    z-index: 1;
    width: 50px;
    height: 70px;
    position: absolute;
}

.one{
    margin-left: 225px;
    margin-top: 40px;
}
.two{
    margin-top: 80px;
    margin-left: 70px;
    
}

.three{
    margin-top: 80px;
    margin-left: 380px;

}

.four{
    margin-top: 190px;
    margin-left: 30px;
    
}

.five{
    margin-top: 190px;
    margin-left: 420px;
}

.six{
    margin-top: 270px;
    margin-left: 130px;
}

.seven{
   margin-top: 270px;
   margin-left: 320px;
}

.eight{
    margin-top: 390px;
    margin-left: 20px;
}

.nine{
    margin-top: 390px;
    margin-left: 430px;
}
.ten{
    margin-top: 430px;
    margin-left: 225px;

}
.eleven{
    margin-top: 520px;
    margin-left: 225px;
}

.jersy:hover{
    height: 80px;
    width: 60px;
    left: -5px;
}

.lastMatches{

}

.matchSummary{
    width: 70%;
    font-size: 120%;
    display: inline-block;
    position: relative;
}

.matchSummary h1{
    clear: left;
    display: inline-block;
    margin-top: 30px;
    width: 100%;
    margin-left: 80px;
    
}

.matchSummary h1 p{
    padding-left: 70px;
    padding-right: 70px;
    display: inline-block;
    margin: 0px;
    font-size: 110%;
    vertical-align:middle;
    text-align: center;
}



.matchSummary h2{
    font-size: 100%;
    float: left;
}

.strijelci{
    margin-left: 90px;
    margin-top: -30px;
}





