body div{
    border: 5px solid black;
    border-radius: 10px;
    width: 43%;
    padding: 20px;  
    display: inline-block;
    background-color: #0a630a;
}

body div img{
    height: 300px;
    width: 300px;
}

body div article{
    position: absolute;
    margin-top: -300px;
    margin-left: 350px;
    font-family: sans-serif;
    font-variant: small-caps;
    color: white;
}

body div article h1{
    font-size: 200%;
    margin-left: -20px;
}

.grb{
    position: absolute;
    width: 90px;
    height: 90px;
    margin-left: 270px;
    margin-top: 220px;
}